@media screen and (max-width: 768px) {


    .bgi {
        background-image: url(../public/img/new-img.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .bgi .nav-small {
        visibility: hidden;
    }

    .navbar {
        position: absolute;
        top: 0;
    }
    
    .bgi-1 {
        @extend .bgi;
        height: 100vh;  
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .bgi {
        background-image: url(../public/img/up-coffee.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .bgi .nav-small {
        visibility: hidden;
    }

    .navbar {
        position: absolute;
        top: 0;
    }
}